.DS_Store
.vscode/
*/**/.DS_Store

# node
/node_modules
yarn-debug.log*
yarn-error.log*

dist
cache
artifacts
typechain-types

contracts/hardhat-dependency-compiler
deployments/localhost/*
deployments/hardhat/*
deployments/tenderly/solcInputs
!deployments/data.ts
!deployments/mainnet
!deployments/tenderly
!deployments/localhost/.chainId

.coverage_artifacts
.coverage_contracts
coverage
coverageEnv
coverage.json
allFiredEvents
scTopics

.env
tenderly.yaml

scripts/test-network.ts
