.DS_Store
.vscode/
*/**/.DS_Store

# node
/node_modules
yarn-debug.log*
yarn-error.log*

dist
cache
artifacts
typechain-types

contracts/hardhat-dependency-compiler

deployments/mainnet/solcInputs/*
deployments/hardhat/*
deployments/tenderly/*

fork-*.zip

.coverage_artifacts
.coverage_contracts
/coverage
/coverage.json
allFiredEvents
scTopics

.env
tenderly.yaml

scripts/test-network.ts
